.post-ad-space-info{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.post-ad-space-info-option{
    border: 1px solid black;
    padding: 0;
    margin: 0 3em 0 0;
}

.post-ad-space-info-option-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 2.25em;
    border: .05em solid black;
    border-radius: .25em;
}

.post-ad-select{
    width: 18em;
    height: 3em;
    border: .05em solid black;
}

#post-ad-squareft{
    width: 24em;
    height: 3em;
    border: .05em solid black;
}

.post-ad-squareft-label{
    width: 4em;
    height: 100%;
    padding-top: .4em;
    text-align: center;
    border-left: .1em solid lightgrey;
}

@media screen and (max-width: 1030px){
    .post-ad-space-info{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }

    .post-ad-select{
        width: 100%;
        height: 3em;
    }
    
    #post-ad-squareft{
        width: 100%;
        height: 3em;
    }
}