#signup-section{
    width: 100%;
    margin: 0;
    padding: 0;
}

#signup-form{
    width: 27.75em;
    border: .06em solid lightgrey;
    margin: 5em auto 0 auto;
    padding: 0 2em;
}

#signup-fieldset{
    margin: 0;
    padding: 0;
    border: none;
}

#signup-legend{
    width: 100%;
    margin: 0;
    padding: 3.5em 0 2em 0;
    border: none;
    text-align: center;
}

.signup-label{
    display: block;
    margin-top: 1em;
}

.signup-input{
    display: block;
    width: 100%;
    height: 2.8em;
    padding-left: 1em;
}

.signup-missing-input{
    border: .075em solid red;
}

#signup-submit{
    display: block;
    width: 100%;
    height: 2.75em;
    font-size: 1em;
    margin: 2.75em auto 0 auto;
}

.signup-user-helpers{
    display: block;
    width: 100%;
    height: 2.5em;
    font-size: .9em;
    margin: .5em auto 4em auto;
    text-decoration: none;
}

#password-confirm-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: .3em;
    background-color: rgb(255, 255, 245);
}

#password-confirm-box span{
    margin-bottom: .5em;
    padding-left: .5em;
}

#password-matches{
    width: 100%;
    margin: 0 auto;
    height: .4em;
    background-color: gray;
    border-radius: .2em;
}

#signup-error{
    color: rgb(231, 2, 2);
    margin: 0;
    padding: .25em 0 0 .5em;
    border: .05em solid red;
    min-height: 3em;
    font-size: .9em;
}

#signup-error-sub{
    color: red;
    margin: 0;
    padding: .25em 0 0 .5em;
    border: none;
    min-height: 3em;
}

@media screen and (max-width: 900px){
    #signup-section{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #signup-form{
        width: 100%;
        border: none;
        margin: 3em auto 0 auto;
        padding: 0 .5em;
    }
    
}