#signup-section{
    width: 100%;
    min-height: 95vh;
    margin: 0;
    padding: 0;
}

#signup-form{
    width: 35em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 0 2em;
    overflow: hidden;
}

#signup-fieldset{
    margin: 0;
    padding: 0;
    border: none;
}

#signup-legend{
    width: 100%;
    margin: 0;
    padding: 0 0 2em 0;
    border: none;
    text-align: center;
}

.signup-label{
    display: block;
    margin-top: 1em;
}

.signup-astrick{
    color: red;
}

.signup-input{
    display: block;
    width: 100%;
    height: 2.8em;
    padding-left: 1em;
}


/* Animation for signup-input-container starts here */
.signup-input-container{
    display: none;
    transform: translateX(200%);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.animate-input-container{
    display: block;
    animation-name: animateinputcontainer;
    animation-duration: .6s;
    animation-timing-function: ease-in;
}

.unanimate-input-container{
    display: block;
    transform: translateX(0);
}

@keyframes animateinputcontainer{
    from{
        transform: translateX(200%);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes unanimateinputcontainer{
    from{
        transform: translateX(-200%);
    }

    to{
        transform: translateX(0);
    }
}

.signup-user-helpers{
    display: block;
    width: 100%;
    font-size: .9em;
    margin: .5em auto 4em auto;
    text-decoration: none;
}

#password-confirm-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    padding-left: 1.25em;
    padding-top: .25em;
    padding-bottom: 1em;
}

#password-matches{
    width: 100%;
    margin: 0 auto;
    height: .4em;
}

#signup-error{
    color: rgb(231, 2, 2);
    margin: 0;
    padding: .25em 0 0 .5em;
    min-height: 3em;
    font-size: .9em;
}

#signup-error-sub{
    color: rgb(231, 2, 2);
    margin: 0;
    padding: .25em 0 0 .5em;
    min-height: 3em;
    font-size: .9em;
}

.req_error{
    margin: 0;
    padding: 0;
}

#signup-btns-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

#signup-btns-container button{
    align-self: center;
    display: block;
    width: 5em;
    font-size: 1em;
}

@media screen and (max-width: 900px){
    #signup-section{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #signup-form{
        width: 100%;
        border: none;
        margin: 0 auto;
        padding: 0 .5em;
    }
    
}