.post-ad-images-container{
    width: 100%;
}

.post-ad-images-container label{
    display: block;
    width: 15em;
    height: 3.8em;
    padding: 1em .5em;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

#post-ad-images{
    display: block;
    margin: 1em auto;
    border: 1px solid black;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

@media screen and (max-width: 1030px){
    .post-ad-images-container label{
        margin: 0 auto;
    }
}