.ad-info-img-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.ad-info-grid{
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    padding: 0;
    margin: 0;
    height: 100%;
}

.ad-info-img{
    width: auto;
    max-width: 100%;
    min-height: 16em;
    cursor: pointer;
    align-self: center;
}

.ad-info-img-btn-left{
    position: absolute;
    top: 50%;
    left: .75em;
    height: auto;
    width: 1em;
    transform: translateY(-50%);
    font-size: 2.8em;
    border: none;
    background-color: transparent;
    color: white;
}

.ad-info-img-btn-right{
    position: absolute;
    top: 50%;
    right: .75em;
    height: auto;
    width: 1em;
    transform: translateY(-50%);
    font-size: 2.8em;
    border: none;
    background-color: transparent;
    color: white;
}

.fade-btn{
    cursor: unset !important;
    opacity: .3;

}

.full-screen-img-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5em);
    z-index: 6;
}

.full-screen-close-btn{
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 6;
    font-size: 1em;
    color: black;
    background-color: white;
    border: none;
}

.ad-info-img-full-screen{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
}

@media screen and (max-width: 1030px){

    .ad-info-img-container{
        display: flex;
        height: auto;
        overflow: auto;
    }

    .ad-info-grid{
        display: grid;
        grid-template: 100% / 100vw 100vw 100vw;
        min-width: 40em;
        align-self: center;
    }

    .full-screen-close-btn{
        top: 6em;
    }
}