.ad-info-img-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.ad-info-grid{
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    padding: 0;
    margin: 0;
    height: 100%;
}

.ad-info-img{
    width: auto;
    max-width: 100%;
    min-height: 16em;
}

.ad-info-img-btn-left{
    position: absolute;
    top: 50%;
    left: .75em;
    height: auto;
    width: 1em;
    transform: translateY(-50%);
    font-size: 2.8em;
    border: none;
    background-color: transparent;
    color: white;
}

.ad-info-img-btn-right{
    position: absolute;
    top: 50%;
    right: .75em;
    height: auto;
    width: 1em;
    transform: translateY(-50%);
    font-size: 2.8em;
    border: none;
    background-color: transparent;
    color: white;
}

.fade-btn{
    cursor: unset !important;
    opacity: .3;

}

@media screen and (max-width: 1030px){

    .ad-info-img-container{
        display: flex;
        height: auto;
        overflow: auto;
    }

    .ad-info-grid{
        display: grid;
        grid-template: 100% / auto auto auto;
        min-width: 40em;
        align-self: center;
    }
}