.ad-info-container{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(.3em);
}

.ad-info-window{
    position: relative;
    top: 1em;
    left: 50%;
    width: 75vw;
    transform: translate(-50%, 0);
    height: 80%;
    overflow: auto;
    padding: 0;
    margin: 5em 0 0 0;
    background-color: white;
}

.ad-info-close-window{
    display: block;
    position: sticky;
    width: 2em;
    height: 2em;
    top: .25em;
    right: 0;
    margin-left: auto;
    font-size: 1.5em;
    z-index: 5;
    border: none;
    background-color: transparent;
}

.ad-info-window p{
    font-size: 1em;
}

.ad-info-window strong{
    font-weight: 600;
}

.ad-info-window > div{
    padding: 0 2em;
}

.ad-info-header{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

#ad-info-contact-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.ad-info-img-container{
    margin: 3em 0 0 0;
    padding: 0;
}

.ad-info-img{
    width: 100%;
}

.ad-info-h3{
    font-weight: 800;
    font-size: 1.55em;
}

.ad-info-comment{
    margin: -1em 0 2.5em 0;
}

.ad-info-contact-link{
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: black;
    margin: .5em auto 0 auto;
    text-decoration: none;
}

.ad-info-contact-link:hover{
    background-color: white;
    color: black;
}

.ad-info-close-btn{
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 1em;
    margin: .5em  0 0 0;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: black;
}

.ad-info-close-btn:hover{
    background-color: white;
    color: black;
}

@media screen and (max-width: 1030px){
    .ad-info-window{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: unset;
        height: 80%;
        margin: 4em 0 0 0;
    }
    
    .ad-info-img-container{
        margin: 0;
        padding: 0;
    }
}