.ad-info-container{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(.3em);
}

.ad-info-window{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 50%;
    left: 50%;
    width: 75vw;
    transform: translate(-50%, -50%);
    height: 80%;
    overflow: hidden;
    padding: 0;
    margin: -1em 0 0 0;
    background-color: white;
}

.ad-info-div1{
    width: 50%;
    margin: 0;
    padding: 0;
}

.ad-info-div2{
    width: 50%;
    margin: 0;
    padding: 0 1em 4.75em 1em;
    overflow: auto;
}

.ad-info-div2 > p{
    font-size: .9em;
    padding: 0;
    margin: 0;
}

.ad-info-div2 > p:nth-child(3){
    font-size: .85em;
    color: rgb(109, 109, 109);
}

.ad-info-header-container{
    display: flex;
    height: 5em;
    margin: 0;
    padding: 0;
}

.ad-info-details-container{
    display: flex;
    width: 100%;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.ad-info-details-container p{
    align-self: flex-end;
    font-size: 1em !important;
    margin: 0;
    padding: 0 1em;
}

.ad-info-details-container p strong{
    margin: 0;
    padding: 0;
}

.ad-info-details-container p:nth-child(2){
    margin: 0;
    border-right: .1em solid black;
    border-left: .1em solid black;
}

.ad-info-close-container{
    display: block;
    position: absolute;
    width: 50%;
    height: 2em;
    top: 0;
    left: 0;
    z-index: 5;
    border: 1px solid white;
    background-color: white;
}

.ad-info-close-window{
    display: block;
    position: relative;
    width: 2em;
    height: 1.5em;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1em;
    z-index: 5;
    border: none;
    background-color: white;
    border-right: .05em solid lightgray;
    text-align: center;
}

.ad-info-window p{
    font-size: 1em;
}

.ad-info-window strong{
    font-weight: 600;
}

.ad-info-header{
    font-weight: 900;
    margin-top: 2em;
    padding: 0;
}

.ad-info-img-container{
    margin: 0;
    padding: 0;
}

.ad-info-h3{
    font-weight: 800;
}

.ad-info-comment{
    margin: -1em 0 2.5em 0;
}

.ad-info-contact-container{
    display: flex;
    justify-content: center;
    position: fixed;
    transform: translate(0, 0);
    left: 0;
    bottom: 0;
    margin: 0;
    width: 50%;
    padding: 0;
    background-color: white;
    height: 4.5em;
}

.ad-info-contact-link{
    display: block;
    width: 45%;
    height: 2.25em;
    padding: .5em 0;
    align-self: center;
    text-align: center;
    border: none;
    color: white;
    background-color: black;
    margin: auto 2em;
    text-decoration: none;
    border-radius: .25em;
}

.ad-info-contact-link:hover{
    background-color: white;
    color: black;
}

.ad-info-amenities-container{
    margin: 3.5em 0;
}

.ad-info-close-btn{
    display: block;
    width: 100%;
    font-size: .9em;
    padding: .85em;
    margin: 3.5em 0;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: black;
}

.ad-info-close-btn:hover{
    background-color: white;
    color: black;
}

.hide-header{
    transform: translateY(-100%);
    animation: hideHeader 1s ease-out;
}

.show-header{
    transform: translateY(0);
    animation: showHeader .3s ease-in;
}

@keyframes hideHeader {
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-100%);
    }
}

@keyframes showHeader {
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0);
    }
}

@media screen and (max-width: 1030px){

    .ad-info-container{
        top: 0;
    }

    .ad-info-div1{
        width: 100%;
        margin: 1em 0 0 0;
        padding: 0;
    }
    
    .ad-info-div2{
        width: 100%;
        overflow: unset;
        padding: 0 1em 6.5em 1em;
    }

    .ad-info-window{
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 2em;
        transform: unset;
        overflow: auto;
    }

    .ad-info-close-container{
        display: block;
        position: sticky;
        width: 100%;
        min-height: 2.75em;
        top: 1em;
        left: 0;
        z-index: 5;
        background-color: white;
        border: none;
    }

    .ad-info-close-window{
        height: 1.75em;
    }
    
    .ad-info-img-container{
        margin: 0;
        padding: 0;
    }
    
    .ad-info-contact-link{
        margin: .5em .5em;
    }

    .ad-info-details-container{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        font-size: .8em;
        margin: 0;
    }

    .ad-info-details-container p{
        margin: 0;
    }

    .ad-info-contact-container{
        width: 100%;
        transform: translate(0, 0);
    }
}